@media only screen and (max-width: 480px),
  only screen and (max-device-width: 480px) {
  section:nth-child(3) {
    margin-top: 20vh;
  }
  .button__btn {
    height: 9vh !important;
  }
  .button {
    margin: 0 !important;
  }
}
@media only screen and (max-width: 600px) {
  .header {
    flex-direction: column;
    justify-content: flex-start;
    transition: all 0.2s ease-in-out;
  }
  .header__toggle {
    display: flex;
  }
  .header__logo > img {
    transform: translateX(-5%);
  }
  .header__buttons > button {
    margin-top: 5vh !important;
  }
  .active > .header__buttons {
    display: flex;
    flex-direction: column;
  }
  .active > .header__buttons > .button {
    margin-top: 2vh;
  }
  .active {
    height: 100vh;
    transition: all 0.2s ease-in-out;
  }
  .header__buttons {
    display: none;
  }
  .active .header__toggle {
    transform: scale(1.2) translateY(5px) rotate(-135deg) !important;
  }
  .active .header__toggle:before {
    transform: translateY(-8px) rotate(90deg);
  }
  .active .header__toggle:after {
    display: none;
  }
  /* Home Section CSS*/

  .home {
    background-size: 500vw 100vh;
    background-position: center;
  }
  .home__links {
    font-size: 0.8em !important;
    top: 5vh;
  }
  .home__info > h1 {
    font-size: 1.5em;
  }
  .home__info {
    /*  top: 8vh; */
    width: 50vw;
    font-size: 0.9rem;
  }
  .home__title {
    font-size: 1.2rem;
    line-height: 1.1;
    font-weight: 900;
  }
  .button__btn {
    font-size: 1.3em;
    padding: 0 20px;
    height: 7vh;
  }
  .button__text {
    font-size: 1em;
  }
  .joinUs {
    flex-direction: column;
    margin-top: 5vh;
  }
  .btnRegister {
    font-size: 0.7em;
  }
  .joinUs__info {
    padding-top: 30px;
  }
  .about__container {
    flex-direction: column;
  }
  .about__info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about__title {
    font-size: 2em !important;
  }
  .about__name {
    font-size: 1.5em;
    line-height: 1 !important;
    color: #59275a;
  }
  .about__container > img {
    max-width: 250px !important;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
  }
  .header__buttons {
    display: flex;
  }
  .header__buttons > button {
    margin-top: 5vh !important;
  }

  .home {
    background-size: 300vw 100vh;
    background-position: center;
  }
  .home__links {
    font-size: 0.8em !important;
    top: 5vh;
  }
  .home__info > h1 {
    font-size: 1.5em;
  }
  .home__info {
    width: 50vw;
    font-size: 0.9rem;
  }
  .home__title {
    font-size: 1.2rem;
    line-height: 1.1;
    font-weight: 900;
  }
  .button__btn {
    font-size: 1.3em;
    padding: 0 20px;
    height: 7vh;
  }
  .button__text {
    font-size: 1em;
  }
  .joinUs {
    padding: 30px;
    flex-direction: column;
    margin-top: 5vh;
  }
  .btnRegister {
    font-size: 0.7em;
  }
  .joinUs__info {
    padding-top: 30px;
  }
  .about__container {
    flex-direction: column;
  }
  .about__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .about__name {
    line-height: 1;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
  }
  .header__buttons {
    display: flex;
  }
  .header__toggle {
    display: none;
  }
  /* Home Section CSS*/

  .home {
    background-size: cover;
    background-position: center;
  }
  .home__links {
    font-size: 1.2em !important;
  }
  .home__info > h1 {
    font-size: 1.5em;
  }
  .home__info {
    top: 15vh;
    width: 50vw;
    font-size: 1.2rem;
  }
  .home__title {
    font-size: 2rem;
  }
  .button__btn {
    font-size: 1em;
    padding: 0 20px;
    height: 7vh;
  }
  .button__text {
    font-size: 1em;
  }

  .joinUs {
    padding-top: 00px !important;
    flex-direction: row;
  }
  .btnRegister {
    font-size: 0.7em;
  }
  .joinUs__info {
    padding-top: 10px !important;
  }
  .about__container {
    flex-direction: row;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .home {
    background-size: 100vw 100vh;
    background-position: center;
  }
  .home__links {
    font-size: 1.2em !important;
  }
  .home__info > h1 {
    font-size: 1.5em;
  }
  .home__info {
    top: 15vh;
    width: 50vw;
    font-size: 1.2rem;
  }
  .home__title {
    font-size: 2rem;
  }
  .button__btn {
    font-size: 1em;
    padding: 0 20px;
    height: 7vh;
  }
  .button__text {
    font-size: 1em;
  }
  .footer__container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 160rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}
