@media only screen and (max-width: 480px),
  only screen and (max-device-width: 480px) {
  section:nth-child(3) {
    margin-top: 20vh;
  }
}
@media only screen and (max-width: 600px) {
  /* Header CSS */
  .header {
    flex-direction: column;
    justify-content: flex-start;
  }
  .header__toggle {
    display: flex;
  }
  .header__logo > img {
    transform: translateX(-5%);
  }
  .header__buttons > button {
    margin-top: 5vh !important;
  }
  .active > .header__buttons {
    display: flex;
    flex-direction: column;
  }
  .active > .header__buttons > .button {
    margin-top: 2vh;
  }
  .active {
    height: 100vh;
    transition: all 0.2s ease-in-out;
  }
  .header__buttons {
    display: none;
  }
  .active .header__toggle {
    transform: scale(1.2) translateY(5px) rotate(-135deg) !important;
  }
  .active .header__toggle:before {
    transform: translateY(-8px) rotate(90deg);
  }
  .active .header__toggle:after {
    display: none;
  }

  /* Home Section CSS*/
  .home {
    background-size: 200vw 75vh !important;
  }
  .home__info {
    font-size: 0.9rem;
  }
  /* Join Us CSS */
  .joinUs {
    flex-direction: column;
    margin-top: 5vh;
  }
  .btnRegister {
    font-size: 0.7em;
  }
  /* About CSS */
  .about__container > img {
    max-width: 250px !important;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  /* Header CSS */
  .header {
    flex-direction: row;
    justify-content: space-between;
  }
  .header__buttons {
    display: flex;
  }
  .header__buttons > button {
    margin-top: 5vh !important;
  }
  /* Home CSS */
  .home {
    background-size: 115vw 80vh !important;
  }

  .home__info {
    font-size: 0.9rem;
  }
  /* Join Us */
  .joinUs {
    padding: 30px;
    flex-direction: column;
    margin-top: 5vh;
  }
  .btnRegister {
    font-size: 0.7em;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  /* Header CSS */
  .home {
    background-size: 100vw 85vh !important;
  }
  .header {
    flex-direction: row;
    justify-content: space-between;
  }
  .header__buttons {
    display: flex;
  }

  /* Home CSS*/
  .home__title {
    font-size: 1.7em;
  }

  /* Join Us CSS */
  .joinUs {
    padding-top: 00px !important;
    flex-direction: row;
  }
  .btnRegister {
    font-size: 0.7em;
  }
  /* About CSS */
  .about__container {
    flex-direction: row !important;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  /* Footer  */
  .footer__container {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}
